body {
    display: grid;
    grid-template-columns: auto 800px auto;
    /* how many values you put in, how many column you get */
    grid-template-rows: auto 806px auto;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
}


#gameWindow {
    width: 800px;
    height: 608px;
    background-color: darkblue;
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
}

#inventoryBox {
    width: 180px;
    height: 80px;
    background-color: rgba(255, 240, 240, 0.777);
    border-style: solid;
    border-color: rgb(5, 74, 23);
    color: rgb(0, 0, 0);
    top: 10px;
    left: 10px;
}

#dialogBar {
    bottom: 0px;

}

#setMainDialog {
    position: relative;
    width: 800px;
    height: 64px;

}

#heroAvatar {
    width: 58px;
    height: 64px;
    bottom: 0px;
    left: 0px;

}

#heroSpeach {
    width: 300px;
    background-color: rgb(255, 255, 255);
    left: 72px;
    top: 0px;
    opacity: 0;

}

#counterSpeach {
    width: 300px;
    background-color: rgb(255, 255, 255);
    right: 72px;
    top: 0px;
    opacity: 0;

}

#counterAvatar {
    width: 58px;
    height: 64px;
    bottom: 7px;
    left: 710px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

#brownBar {
    bottom: 0px;
    height: 32px;
    width: 800px;
    background-color: #442c1c;
}

/*#squareTree {
    width: 64px;
    height: 64px;
    background-color: darkgreen;
    left: 240px;
    top: 300px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}*/

#hero {
    width: 32px;
    height: 32px;
    left: 10px;
    top: 200px;
    bottom: 90px;
    transition: all 1s ease-in-out;

}

#doorWizardHut {
    width: 24px;
    height: 47px;
    left: 400px;
    top: 188px;
    transition: all 1s ease-in-out;
    /* background-color: black;*/
}

#statue {
    width: 22px;
    height: 29px;
    left: 536px;
    top: 31px;
    /* background-color: purple; */
}

#key {
    width: 22px;
    height: 20px;
    left: 38px;
    top: 450 px;
    bottom: 86px;
    /* background-color: yellow; */
}

#well {
    width: 21px;
    height: 23px;
    /*background-color: red;*/
    left: 749px;
    top: 521px;
}

#tileMap {}


.background {
    position: absolute;
    z-index: 0;
}

.character {
    position: absolute;
    z-index: 100;

}

.foreground {
    position: absolute;
    z-index: 1000;
    transition: all 1s ease-in-out;
}

.speechBubble {
    border-radius: 60px;
    padding: 5px 5px 5px 20px;
    user-select: none;
    cursor: default;
    transition: all 0.5s ease-in-out;
}